<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{{ the_title }}</title> <!-- Директива Jinja2 указывает, что значение будет вставлено перед отправкой страницы (аргумент шаблона) -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 

		<style type="text/css">
			.error {
				background-color: var(--error_bg);
				text-align: center;
				font-size: 14px;
				padding: 20px 0;
			}
		</style>
	</head>
	<body>
		<div class='error'>404 Not Found: cтраница не найдена</div>
	</body>
</html>
